body {
    font-family: "Calibri Light",serif;
    color: black;
    background-color: lightgray;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style of the header */
header {
  background-color: #666;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/* Create two columns/boxes next to each other */
nav {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
}


/*places columns/box on top of each other for a small screen */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}