{% extends "base.html" %}
{% block title %}TextminingDiseaseIdentification - About{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <h1>About</h1>
  <div class="topnav">
<button class="btn" onclick="location.href='/Homepage';"><i class="fa fa-home"></i> Home</button>
<button class="btn" onclick="location.href='/About';"><i class="fa fa-share-alt"></i> About</button>
  </div>
</header>

<h2>About the project</h2>
    <p>This application is being developed at the request of UMC Utrecht (Wilhelmina Children's Hospital) and uses text mining to diagnose metabolic diseases.</p>
    <p> As a result, the condition can be identified and treated more quickly.<p>
    <p> Excel files can be uploaded to the Homepage.<p>
    <button onclick="hidAndShow('hid1')">How does it work?</button>
    <div id="hid1" style="display:none;">
    <p>Complete the steps in the homepage.</p>
    <p>Only excel files can be uploaded.</p>
    </div>
    <button onclick="hidAndShow('hid2')">About the makers</button>
    <div id="hid2" style="display:none;">
    <p>Students at HAN University of Applied Sciences</p>
    <p>Yjara Verhagen</p>
    <p>Tosca Frederiks<p>
    <p>Nienke Gertsen<p>
    </div>

    <script>
    function hidAndShow(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
        }
    </script>

{% endblock %}
