<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2Fe%2Ff%2F2%2F441670.jpg&f=1&nofb=1');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
h1 {text-align: center;}
p {text-align: center;}
a {href-align: center;}
</style>
</head>
<p>
    <h1>Identify metabolic diseases</h1>
    <p><a href="/Homepage">Let's begin</a></p>
</body>
</html>